:root {
  --bs-primary: #2AA7B6;
  --bs-secondary: #9FCD60;
  --bs-dark: #303E5C;
  --bs-font: 'Roboto Slab',serif;
}

body {
  color: var(--bs-dark)
}

h1, h2 {
  font-family: var(--bs-font);
  font-weight: 600;
}

main h1 {
  color: var(--bs-primary);
}

main h2 {
  color: var(--bs-secondary);
}

hr.mc-header-line {
  border:36px solid var(--bs-secondary);
  position:absolute;
  top:15px;
  left:0;
  z-index:-1;
  opacity:1;
  width:100%;
  transform:rotate(.7deg);
  margin:0;
}

.mc-scoreboard-container hr.mc-header-line {
  top:-8px;
}

.mc-settings h2 {
  font-size:1.5rem;
}

.mc-settings-btn {

}

.mc-settings input, .mc-settings select, .mc-settings label {
  color: var(--bs-dark);
}

.mc-settings-or {
  display:block;
  text-align: center;
}

.mc-slogan {
  font-family: var(--bs-font);
}

.btn-primary {
  background-color: var(--bs-secondary);
  border:0;
  font-family: var(--bs-font);
}

.mc-header h1, .mc-scoreboard h2 {
  color: #fff;
} 

.mc-header {
  background: var(--bs-dark);
  position:relative;
}

.mc-intro p strong {
  color:var(--bs-primary);
  font-family: var(--bs-font);
}

.mc-intro img {
  max-width:400px;
  display:block;
  margin:0 auto;
}

.mc-logo img {
  padding-right:10px;
  margin-top:-5px;
}

.mc-logo span {
  font-size:1.5rem;
  display:inline-block;
  margin-top:10px;
}

.mc-settings h2 {
  text-align: center;
}

.mc-game-modal,
.hide {
  display: none;
}

.container-lg {
  padding:0 2rem;
}

.mc-game-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height:100vh;
  background: rgba(0, 0, 0, .7);
}

.mc-game-container {
  background: #fff;
  padding: 2rem;
  position: absolute;
  width: 600px;
  max-width: 85%;
  left: 50%;
  top: 50%;
  border-radius:.5rem;
  transform: translate(-50%, -50%);
}

.active {
  display: block !important;
}

.mc-btn-close {
  position: absolute;
  top: .5rem;
  right: 1rem;
  color: #aaa;
  text-decoration: none;
}

.mc-game-problem {
  display: flex;
  justify-content: center;
}

.mc-game-problem div {
  padding: .5rem;
  font-size: 2rem;
}

.mc-game-answer {
  border:1px solid #aaa;
  outline:0;
  border-radius:3px;
  max-width:125px;
  font-size:2rem;
  padding:.25rem .25rem .25rem 1rem;
}

.mc-game-feedback {
  font-size: 1rem;
  font-style: italic;
  padding: .5rem;
  text-align: center;
}

.mc-scoreboard-container {
  background:var(--bs-primary);
  position:relative;
}

.mc-scoreboard td {
  text-align: center;
}

.mc-scoreboard th {
  font-family: var(--bs-font);
  font-weight:600;
  text-align: center;
}

.mc-game-timer-bar {
  transition: width 1s linear;
  width:100%
}

.progress {
  height:1.5rem;
}

.mc-game-timer-text {
  padding:1rem;
}

.mc-btn-stop {
  display:block;
  margin:1rem auto 0;
}

.mc-footer {
  background:var(--bs-dark);
  font-family: var(--bs-font);
  position:relative;
}

.mc-footer a {
  color:var(--bs-secondary);
}
.mc-footer-hr {
  position:absolute;
  opacity:1;
  border:1px solid var(--bs-secondary);
  top:-8px;
  width:100%;
}